<div class="sign-up-form">
                
    <div class="group">
        <label for="pass" class="label">Password</label>
        <input id="pass" type="password" class="input" data-type="password" name="password1" placeholder="Create your password">
    </div>
    <div class="group">
        <label for="pass" class="label">Repeat Password</label>
        <input id="pass" type="password" class="input" data-type="password" name="password2" placeholder="Repeat your password" >
    </div>
    <div class="group">
        <label for="pass" class="label">Email Address</label>
        <input id="pass" type="text" class="input" name="email" placeholder="Enter your email address">
    </div>

    <div class="group">
        <label for="pass" class="label">Firstname</label>
        <input id="pass" type="text" class="input" name="firstname" placeholder="Enter your Firstname">
    </div>

    <div class="group">
        <label for="pass" class="label">Surname</label>
        <input id="pass" type="text" class="input" name="surname" placeholder="Enter your sirstname">
    </div>

    <div class="group">
        <input type="submit" class="button" id="signup-submit" value="Sign Up">
    </div>
    <div class="hr"></div>
    <div class="foot">
        <label for="tab-1">Already Member?</label>
    </div>
</div>